// Normalize

@import url("https://necolas.github.io/normalize.css/latest/normalize.css");

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

// Colors

$black: #000;
$dark: #0D2B59;
$white: #FFF;
$blue: #1F78FF;
$pink: #FF4DA9;
$dark-pink: #460C2A;
$red: #FF4D4F;

// Font

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

// Variables

$size-36: 3.6rem;
$size-32: 3.2rem;
$size-24: 2.4rem;
$size-20: 2rem;
$size-16: 1.6rem;
$size-12: 1.2rem;

// Content style

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
h1, h2, h3, p {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
h1 {
  font-size: $size-32;
  line-height: 4rem;
  
  &.title {
    font-size: $size-36;
  }
}
p {
  line-height: 3rem;
  &.default {
    margin: 3rem 0;
  }
  &.title {
    font-weight: 700;
    font-size: 120%;
    text-transform: uppercase;
    margin-bottom: -1rem;
    margin-top: 8rem;
  }
}
span {
  &.typewrite {
    color: $blue;
  }
}
ul {
  margin: 0;
  padding: 0 0 0 3rem;
  font-size: $size-16;

  li {
    margin-bottom: 2rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: $blue;
  font-weight: 600;
  cursor: pointer;

  &.button {
    position: relative;
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: $size-20;
    color: $white;
    background: $blue;
    border-radius: 100rem;
    transition: all .1s ease-in-out;

    &.hasIcon {
      padding: 1.5rem 6.5rem 1.5rem 3rem;

    }

    &.w {
      background: $pink;
    }

    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(.95);
    }

    ion-icon.big {
      transform: translateY(.25rem) translateX(-.5rem) scale(2.75);
      transform-origin: center left;
      margin-left: 1.5rem;
    }

    &.shadow {
      box-shadow: 0 2rem 5rem rgba($dark,.25);
    }

    .icon {
      position: absolute;
      right: 2.5rem;
      top: 50%;
      transform: translateY(-50%) scale(1.65);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: $size-16;
  color: $dark;
}

.nav {
  position: fixed;
  top: 0;
  left: 50%;
  padding: 0 3rem;
  width: 100%;
  max-width: 106rem;
  height: 7rem;
  background: rgba($white,.85);
  transform: translateX(-50%);
  backdrop-filter: blur(3.5rem) saturate(1.5);
  -webkit-backdrop-filter: blur(3.5rem) saturate(1.5);
  transition: all .25s ease-in-out, transform 0s, padding 0s;
  z-index: 9999;

  &.w {
    color: $dark-pink !important;

    .logo, .pages a {
      color: $dark-pink !important;
      &.cta {
        color: $pink !important;
        background: rgba($pink,.1);
      }
      &.current::before {
        background: rgba($pink,.1);
      }
    }
    .menu {
      &::before, &::after {
        background: $dark-pink;
      }
    }
  }

  &.menuopened {
    background: rgba($white,0);
    backdrop-filter: blur(0) saturate(1);
    -webkit-backdrop-filter: blur(0) saturate(1);
    .menu {
      &::before {
        transform: translateY(-1.4rem) rotateZ(-45deg);
      }
      &::after {
        transform: translateY(1.4rem) rotateZ(45deg);
      }
    }
  }

  .pages {
    position: relative;
    display: none;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 1.5rem;
    a {
      position: relative;
      display: inline-block;
      margin: 0 2rem;
      color: $dark;
      font-weight: 600;
      z-index: 0;
      opacity: .85;
      transition: color .15s, margin 0s;

      &.current {
        font-weight: 700;
        opacity: 1;

        &::before {
          content: '';
          position: absolute;
          bottom: -1rem;
          left: 50%;
          width: 50%;
          height: .5rem;
          border-radius: 5rem;
          background: rgba($blue,.1);
          transform: translateX(-50%);
          z-index: -1;
        }
      }

      &.cta {
        background: rgba($blue,.1);
        color: $blue;
        padding: 1.25rem 5.5rem 1.25rem 2.5rem;
        border-radius: 10rem;
        margin: 0;
        opacity: 1;

        ion-icon {
          position: absolute;
          right: 2.5rem;
          top: 50%;
          transform: translateY(-50%) scale(1.5);
        }
      }
    }
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    height: 100%;
    cursor: pointer;
    z-index: 999;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 3rem;
      width: 4rem;
      height: .3rem;
      background: $dark;
      border-radius: 1rem;
      transform-origin: center right;
      transition: all .15s ease-in-out;
    }
    &::before {
      transform: translateY(-.6rem);
    }
    &::after {
      transform: translateY(.6rem);
    }
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 3rem;
    color: $dark;
    font-size: $size-32;
    font-weight: 600;
    text-align: center;
    transform: translateY(-60%);
    z-index: 10;

    span {
      display: block;
      font-size: 33%;
      opacity: .3;
    }
  }
}

.menuoverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 10rem 3rem 3rem 3rem;
  overflow: auto;
  text-align: left;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  background: rgba($white,.85);
  backdrop-filter: blur(3.5rem) saturate(1.5);
  -webkit-backdrop-filter: blur(3.5rem) saturate(1.5);
  transition: opacity .25s ease-in-out;

  &.w {
    a {
      color: $dark-pink !important;
      &.current::before {
        background: rgba($pink,.1) !important;
      }
      &.cta {
        color: $pink !important;
      }
    }
    .sep {
      background: rgba($dark-pink,.2);
    }
  }
  &.show {
    opacity: 1;
    pointer-events: all;

    a, .sep {
      transform: translateX(0);
      opacity: 1;
      &.page {
        opacity: .65 !important;
        &.current {
          opacity: 1 !important;
        }
      }

      &.nth-child-1 {
        transition-delay: 0s;
      }
      &.nth-child-2 {
        transition-delay: .05s;
      }
      &.nth-child-3 {
        transition-delay: .1s;
      }
      &.nth-child-4 {
        transition-delay: .15s;
      }
      &.nth-child-5 {
        transition-delay: .2s;
      }
      &.nth-child-6 {
        transition-delay: .25s;
      }
      &.nth-child-7 {
        transition-delay: .3s;
      }
      &.nth-child-8 {
        transition-delay: .35s;
      }
      &.nth-child-9 {
        transition-delay: .4s;
      }

    }
  }
  
  .sep {
    position: relative;
    display: inline-block;
    width: 4rem;
    margin: 3rem 0;
    height: .2rem;
    background: rgba($dark,.2);
    transform: translateX(-2rem);
    opacity: 0;
    pointer-events: none;
    transition: transform .25s ease-in-out, opacity .25s ease-in-out;
  }

  a {
    position: relative;
    display: inline-block;
    transform: translateX(-2rem);
    margin: 0;
    padding: 1.5rem 0;
    color: $dark;
    font-size: $size-24;
    font-weight: 700;
    letter-spacing: .1rem;
    transition-delay: .25s;
    opacity: 0;
    transition: transform .25s ease-in-out, opacity .25s ease-in-out;

    &.current {
      font-size: 150%;
      font-weight: 700;
      opacity: 1;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 1rem;
        width: 100%;
        height: 1rem;
        background: rgba($blue,.15);
        //border-radius: 100rem;
      }
    }

    &.cta {
      color: $blue;
      font-weight: 600;
      font-size: $size-20;
      ion-icon {
        transform: translateY(.35rem) scale(1.5);
        transform-origin: center left;
        margin-right: 2rem;
      }
    }

    &.social {
      margin-right: 4.5rem;

      ion-icon {
        transform: translateY(.35rem) scale(1.25);
        transform-origin: center left;
      }
    }
  }
}
.menuoverlayclose {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: -1;
  transition: opacity .25s ease-in-out;
}

main {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100vw;

  &.w {
    color: $dark-pink;

    a {
      color: $pink;

      &.button {
        color: $white;
      }
    }

    section {
      &.footer {
        background: $white !important;
        color: $dark-pink !important;
        p {
          color: $dark-pink !important;
        }
        a {
          color: rgba($dark-pink,.5) !important;
        }
      }
    }
  }

  img {
    max-width: 100%;
  }

  section {
    position: relative;
    padding: 3rem;

    &.hero {
      .grid {
        position: absolute;
        bottom: 18rem;
        right: 0rem;
        width: 75vw;
        opacity: .25;
        z-index: -1;
      }
    }

    &.title {
      margin-top: 6rem;
      h1 {
        font-size: 4.5rem;
        line-height: 6rem;
      }
    }
    
    &.courses {
      margin-top: 7rem !important;
      margin-bottom: 24rem !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    &.sub {
      margin-top: 3rem !important;
    }
    &.courses, &.team, &.sub {
      margin-top: 8rem;
      margin-bottom: 0rem;
      padding-top: 0;
      padding-bottom: 7rem;
      background: rgba($blue, .1);

      &.woman {
        background: rgba($pink, .075);
      }

      .wave {
        position: absolute;
        left: 0rem;
        height: 20rem;
        max-width: 100%;
        width: 100%;
        background-image: url("./img/wave.png");
        background-size: 100% 100%;
        z-index: -1;

        &.in {
          top: -20rem;
        }

        &.out {
          bottom: -20rem;
          transform: rotateZ(180deg);
        }

        &.w {
          background-image: url("./img/wave-w.png");
          opacity: .75;
        }
      }

      .imageComposition {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 50rem;
        height: auto;
        min-height: 30rem;

        img {
          position: absolute;
          max-width: 80%;
          box-shadow: 1rem 3rem 5rem 0 rgba($dark-pink,.2);
        }
      }

      .postsGrid {
        margin-top: 3rem !important;
      }
      .teamGrid {
        margin-top: 0rem !important;
      }
      .coursesGrid, .teamGrid, .postsGrid {
        margin-top: 6rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-column-gap: 4rem;
        grid-row-gap: 4rem;
      }

      .post {
        &.old .cta ion-icon, &.cancelled .cta ion-icon, &.soon .cta ion-icon {
          display: none;
        }
        &.old .cta {
          color: rgba($dark, .75);
        }

        &.cancelled .cta {
          color: rgba($red, .75) !important;
        }

        &.soon .cta {
          color: rgba($dark, .75);
        }
      }
      .course, .post {
        position: relative;
        display: inline-block;
        width: 100%;
        height: auto;
        border-radius: 1rem;
        background: $white;
        overflow: hidden;
        margin: 0;
        color: $dark;
        padding-bottom: 8rem;
        box-shadow: 0 3rem 3rem rgba($dark,.075);

        .image {
          position: relative;
          width: auto;
          height: 18rem;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }

        .title, .date, .user, .cta {
          font-size: $size-16;
          margin: 2.5rem;
        }
        .title {
          font-weight: 600;
          font-size: $size-20;
          margin: 3rem 2.5rem;
          text-transform: unset;
        }

        .date, .user {
          position: absolute;
          bottom: 2.5rem;
          left: 0;
          opacity: .5;
        }
        .cta {
          position: absolute;
          bottom: 0;
          left: 0;
          color: $blue;
          font-size: $size-20;

          ion-icon {
            transform: translateY(.35rem) translateX(1rem) scale(1.5);
          }
        }
      }

      .member {
        position: relative;
        display: inline-block;
        width: 100%;
        height: auto;
        min-height: 40rem;
        border-radius: 1rem;
        background: $white;
        overflow: hidden;
        margin: 0;
        color: $dark;
        padding: 3rem;
        box-shadow: 0 3rem 3rem rgba($dark,.075);

        &.active {
          .image {
            width: 6rem;
            height: 6rem;

            &[data-team]::before {
              transform: translateX(-50%) translateY(50%);
            }
          }
          .name {
            top: 10rem;
          }
          .social {
            top: 14rem;
          }
          .bio {
            max-height: 60rem; // hard-coded value
            margin: 16rem 0 6rem 0;
            color: rgba($dark,1);
          }
          .showbio::after {
            transform: translateY(-50%) rotateZ(0deg);
          }
        }

        .image {
          position: absolute;
          width: 14rem;
          height: 14rem;
          left: 50%;
          transform: translateX(-50%);
          margin: 0 auto;
          border-radius: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          transition: all .25s ease-in-out;

          &[data-team]::before {
            content: attr(data-team);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) translateY(50%) scale(1);
            white-space: nowrap;
            background: $blue;
            color: $white;
            padding: .5rem 1.5rem;
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: .1rem;
            border-radius: 10rem;
            box-shadow: 0 0 0 .3rem $white;
            transition: all .25s ease-in-out;
          }
        }

        .name, .bio, .social {
          position: absolute;
          font-size: $size-16;
          transition: all .25s ease-in-out;
        }
        .name {
          top: 20rem;
          left: 3rem;
          width: calc(100% - 6rem);
          text-align: center;
          font-weight: 600;
          font-size: $size-20;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .bio {
          position: relative;
          height: auto;
          max-height: 0rem;
          overflow: hidden;
          margin: 26rem 0 6rem 0;
          color: rgba($dark,0);
        }
        .showbio {
          position: absolute;
          bottom: 3rem;
          left: 50%;
          transform: translateX(-50%);
          white-space: nowrap;
          padding: 1rem 2.5rem 1rem 5.5rem;
          font-weight: 600;
          color: $blue;
          background: rgba($blue,.1);
          border-radius: 100rem;
          user-select: none;
          cursor: pointer;

          &::before, &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 2.5rem;
            width: 1.5rem;
            height: .15rem;
            border-radius: 100rem;
            background: $blue;
            transition: all .25s ease-in-out;
          }
          &::after {
            transform: translateY(-50%) rotateZ(90deg);
          }
        }

        .social {
          top: 24rem;
          left: 50%;
          transform: translateX(-50%);
          color: $blue;
          text-align: center;

          a {
            margin-right: 3rem;

            &:last-child {
              margin: 0 0;
            }
          }

          ion-icon {
            transform-origin: center left;
            transform: translateY(.35rem) scale(1.5);
          }
        }
      }

      form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        .group {
          position: relative;
          display: inline-block;
          label {
            &#default {
              position: absolute;
              top: 2.5rem;
              left: 2.5rem;
              height: 2rem;
              font-weight: 600;
              font-size: $size-16;
              line-height: 2rem;
              pointer-events: none;
              opacity: .25;
              transition: all .15s ease-in-out;
            }
            &#submit {
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              display: inline-block;
              padding: 1.5rem 3rem;
              font-size: $size-16;
              color: $white;
              background: $blue;
              border: none;
              text-decoration: none;
              font-weight: 600;
              cursor: pointer;
              border-radius: 100rem;

              ion-icon {
                transform: translateY(.25rem) scale(1.75);
                transform-origin: center center;
                margin-right: 1.5rem;
              }
            }
          }
          input {
            border: none;
            background: rgba($blue, .1) !important;
            padding: 3.5rem 2.5rem 1.5rem 2.5rem;
            color: $dark;
            font-size: $size-16;
            font-weight: 600;
            border-radius: 1rem;

            &#name, &#mail {
              min-width: 28rem;
              width: 100%;
              max-width: 45rem;
            }

            &#submit {
              display: none;
            }
          }
          input:focus ~ label#default, input:valid ~ label#default {
            top: 1.25rem;
            opacity: .5;
            font-size: $size-12;
          }
        }
      }
    }

    .team-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-column-gap: 4rem;
      grid-row-gap: 4rem;
      grid-template:
      "tl"
      "p1"
      "p2";
      .tl {
        position: relative;
        width: 30rem;
        height: 18rem;
        grid-area: tl;
        margin: auto;
        padding: 0;
        background-image: url("./img/team/team.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;

        &::before {
          content: 'Conoce al equipo';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 20rem;
          transform: translateX(-50%);
          color: $blue;
          background: rgba($blue,.1);
          padding: 1.5rem 0;
          text-align: center;
          border-radius: 10rem;
          font-weight: 700;
        }
      }
    }

    .content {
      display: block;
      width: 100%;
      max-width: 100rem;
      margin: 0 auto;
      z-index: 1;
    }

    &.footer {
      background: rgba($dark,.05);
      vertical-align: top;
      font-size: $size-20;
      font-weight: 600;

      .align-top {
        vertical-align: top;
      }

      a {
        color: rgba($dark,.5);
        display: block;
        margin: 1.5rem 0;
      }

      p {
        color: rgba($dark,.5);

        &.title {
          color: $dark;
          font-weight: 700;
          margin: 5rem 0 3rem 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 4.6rem;
    line-height: 5rem;
    font-weight: 600;
  }
  p {
    font-size: $size-20;
  }

  .nav {
    position: absolute;
    top: 3rem;
    background: rgba($white,0);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    .menuoverlay, .menuoverlayclose, .menu {
      display: none;
    }
    .logo {
      position: relative;
      display: inline-block;
      height: 4.5rem;
      width: 8rem;
      left: 0;
      transform-origin: left center;
      transform: translateY(-60%) scale(1.65);
    }
    .pages {
      display: block;
    }
  }

  .hero {
    position: relative;
    margin-top: 8rem;
    display: grid;

    .heroCenterHorizontal {
      margin-top: 8rem;
    }
    .heroTitle {
      font-size: 4.6rem;
      font-weight: 700;
      display: inline-block;
      min-width: 38rem;
    }

    img {
      width: 35vw;
    }
    .heroImage {
      float: right;
      margin-right: 3rem;
      max-width: 50rem;
    }
    .grid {
      position: absolute;
      right: 0;
      max-width: 75rem !important;
    }
  }

  .inline-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    .inline-50 {
      display: inline-block;
      width: 100%;
    }
    &.team-grid {
      margin: 0;
      grid-template:
      "tl p1"
      "tl p2";
      .p1 {
        grid-area: p1;
      }
      .p2 {
        grid-area: p2;
      }
    }
  }

  .team .teamGrid .member {
    height: 40rem !important;
    padding: 3rem;
    &.active {
      .image {
        width: 9rem;
        height: 9rem;
      }
      .name {
        top: 10rem;
        opacity: 0;
      }
      .social {
        top: 14rem;
        opacity: 0;
      }
      .bio {
        height: calc(100% - 24rem);
        color: rgba($dark,1);
        line-height: 2.65rem;
      }
      .showbio::after {
        transform: translateY(-50%) rotateZ(0deg);
      }
    }

    .bio {
      position: absolute;
      bottom: 3rem;
      height: 0rem;
      width: calc(100% - 6rem);
      overflow: auto;
      color: rgba($dark,0);
    }
  }

  section.title h1 {
    margin-top: 6rem;
  }
  .imageComposition {
    margin-top: 0 !important;
    height: 42rem !important;
  }

  .inline-block {
    display: inline-block;
  }
}
